@charset "UTF-8";

/*数据查询头部*/
/*时间*/
.time{
    height: 80px;
    background: #eef4f7;


}
/*头部右边*/
.tube_time{
    height: 100%;
 float: right;
    font-size: 14px;

}
.select_title{
    display:inline-block;
    margin-right: 120px;
    height: 80px;
    width: 40px;
    line-height: 80px;
}
/*下拉选择框*/
div.cs-skin-elastic {
    color: #666666;
    outline: 0;
    width: 85px;
    height: 0;
    margin-left: -110px;
    margin-top: -5px;
}
.cs-skin-elastic > span::after {
    content: '\e005';
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.cs-skin-elastic .cs-options {
    -webkit-border-radius: 4px!important;
    -moz-border-radius: 4px!important;
    border-radius: 4px!important;
    box-shadow: 0 0 1px 1px #e7e7e7;
    overflow: visible;
    background:rgba(241, 241, 241, 0.79);
    height: 242px;
    visibility: hidden;
    pointer-events: none;

}
.cs-skin-elastic.cs-active .cs-options {
    pointer-events: auto;

 margin-top: 2px;
    position: absolute;
    z-index: 17;
}
.cs-skin-elastic .cs-options > ul::before {
    content: '';
    position: absolute;
    z-index: 2222222;
    width: 100%;
    left: 0;
    -webkit-transform: scale3d(1,0,1);
    transform: scale3d(1,0,1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;

}
.cs-skin-elastic.cs-active .cs-options > ul::before {
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    -webkit-transition: none;
    transition: none;
    -webkit-animation: expand 0.6s ease-out;
    animation: expand 0.6s ease-out;
}
.cs-skin-elastic .cs-options ul li {
    opacity: 0;
    -webkit-transform: translate3d(0,-25px,0);
    transform: translate3d(0,-25px,0);
    -webkit-transition: opacity 0.15s;
    transition: opacity 0.15s, transform 0.15s;

}
.cs-skin-elastic.cs-active .cs-options ul li {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1;
    -webkit-transition: none;
    transition: none;
    -webkit-animation: bounce 0.6s ease-out;
    animation: bounce 0.6s ease-out;
}

.cs-skin-elastic.cs-active .cs-options ul li:nth-child(2) {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}
.cs-skin-elastic.cs-active .cs-options ul li:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.cs-skin-elastic.cs-active .cs-options ul li:nth-child(4) {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

.cs-skin-elastic .cs-options span {
    width: 85px;
    position: absolute;
    z-index: 666666;


}

.cs-skin-elastic .cs-options span:hover,
.cs-skin-elastic .cs-options li.cs-focus span,
.cs-skin-elastic .cs-options .cs-selected span {
    color: #666666;
background: rgba(64, 204, 221, 0.6);
}

.cs-skin-elastic .cs-options .cs-selected span::after {
    content: '';

}

@-webkit-keyframes expand {
    0% { -webkit-transform: scale3d(1,0,1); }
    25% { -webkit-transform: scale3d(1,1.2,1); }
    50% { -webkit-transform: scale3d(1,0.85,1); }
    75% { -webkit-transform: scale3d(1,1.05,1) }
    100% { -webkit-transform: scale3d(1,1,1); }
}

@keyframes expand {
    0% { -webkit-transform: scale3d(1,0,1); transform: scale3d(1,0,1); }
    25% { -webkit-transform: scale3d(1,1.2,1); transform: scale3d(1,1.2,1); }
    50% { -webkit-transform: scale3d(1,0.85,1); transform: scale3d(1,0.85,1); }
    75% { -webkit-transform: scale3d(1,1.05,1); transform: scale3d(1,1.05,1); }
    100% { -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
}


@-webkit-keyframes bounce {
    0% { -webkit-transform: translate3d(0,-25px,0); opacity:0; }
    25% { -webkit-transform: translate3d(0,10px,0); }
    50% { -webkit-transform: translate3d(0,-6px,0); }
    75% { -webkit-transform: translate3d(0,2px,0); }
    100% { -webkit-transform: translate3d(0,0,0); opacity: 1; }
}

@keyframes bounce {
    0% { -webkit-transform: translate3d(0,-25px,0); transform: translate3d(0,-25px,0); opacity:0; }
    25% { -webkit-transform: translate3d(0,10px,0); transform: translate3d(0,10px,0); }
    50% { -webkit-transform: translate3d(0,-6px,0); transform: translate3d(0,-6px,0); }
    75% { -webkit-transform: translate3d(0,2px,0); transform: translate3d(0,2px,0); }
    100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); opacity: 1; }
}
/* Default custom select styles */
div.cs-select {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align:center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
div.cs-select:focus {
    outline: none; /* For better accessibility add a style for this in your skin */
}
.cs-select select {
    display: none;
}
.cs-active .cs-options{
    margin-left: -100px   }
.cs-active{
    height: 120px;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari 和 Chrome */
    appearance:none;
    outline: none;
    position: absolute;
}
.cs-placeholder{
    width: 85px;
    outline: none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari 和 Chrome */
    appearance:none;
    background: url("../images/1.png")no-repeat right center ;
    border: 1px solid #e7e7e7;
    padding-right: 40px;
    position: absolute;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-top: -8px;
    z-index: 33;



}
.cs-select span {
    font-size: 14px;
    height: 22px;
    line-height: 22px;
    display: block;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

/* Placeholder and selected option */

.cs-select > span::after,
.cs-select .cs-selected span::after {
    display: none;
    position: absolute;
}

.cs-select > span::after {
    content: '\25BE';
}

.cs-select .cs-selected span::after {
    content: '\2713';

}
/* Options */
.cs-select .cs-options {
    position: absolute;
    overflow: hidden;
    visibility: hidden;
    width: 85px;
    margin-left: -1px;
}

.cs-select.cs-active .cs-options {
    visibility: visible;
    position: relative;
}

.cs-select ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 85px;

}
.cs-select ul li{
    position: relative;
    text-align: left;;
    display: block;
    height: 22px;

}
.cs-select ul li span {
    font-size: 14px;
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 8px;

}

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup > span {
    cursor: default;
}

/*时间起止*/
.date{
   margin-top: -70px;
margin-left: 170px;
margin-right: 170px;
width: 403px;
}
.date label span,.date input{

    font-weight: lighter;

}
.date input {
    outline: none;
    width: 57px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 10px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius:10px;;
    border: 1px solid #e7e7e7;

}
/*查询小图标*/
.inquiryButton{
    width: 90px ;
    height: 24px;
    line-height: 24px;
 float: right;
    padding-left: 20px;
    margin-top: -15px;
    display:-webkit-flex;
    justify-content: center;
 align-items: center;

}
.icon_bg{
position: absolute;
    z-index: 4;
    width: 35px;
    height: 15px;
    line-height: 15px;
    display:-webkit-flex;
    justify-content: center;
padding-right: 30px;/*padding的兼容性比margin好*/
}
.icon_bg img {
    width: 15px;
    height: 100%;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform:rotate(90deg);

}
.btn-inquiry {
    background: rgba(64, 204, 221, 0.9);
    width: 84px !important;
    height: 24px!important;
    color: #ffffff;
    position: absolute;
    z-index: 1;
    padding-left: 15px;
}

.table_all{

    overflow-x:auto;
    margin-left: 20px;
}
/*炉管温度查询选项卡*/
.nav-tabs {
    height: 80px;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    border: none !important;
    text-align: center;
}
 li > a,  li.active > a:hover,  li.active > a:focus, li.active > a,  li.active >  .nav li a,  li > a:hover,  li > a:active, li > a:focus,  li:active > a:visited,  li > a:visited {
    border: none !important;
}
li.active > a:focus,li.active > a,li a:hover{
    background: none!important;
}
.tab_items{
    margin-left: 0;
    margin-top: 40px;
    margin-bottom: -19px
}
/*下面四组选项卡*/

.tab_tube{
width: 98.3%!important;
    justify-content: center;
    display: -webkit-flex;
}
.tab_tube  li {
    display: -webkit-flex;
align-items: center;
    justify-content: center;
    flex: 1;
    border-right: 1px solid rgba(237, 237, 237, 0.79);
background:rgba(52, 71, 80, 0.9)

}
.tab_tube  li a{
    width: 100%;
}
.tab_tube  li:nth-child(4){
    border-right:none;
}
.tab_tube  li a{
    color: #ffffff!important;
    font-size: 16px;
}
.tab_tube .active {
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background: rgba(64, 204, 221, 0.9)!important;
}
.Tub_Num li{
    width: 780px;
    float: left;
    height: 100px;

    margin-right: 20px;
}
.Tub_Num li .tub_num{
    list-style: none;
    float: left;

}
/*炉号*/
.heat_num{
    width: 9600px;
    background: #ffffff;

}
.heat_num li{
float:left;
}

.heat_num li a{
    text-decoration: none;
}
/*让管号跟标题固定*/
.table_th,.tub_num{

}
.table_th{
   /* margin-top: 30px;*/
}
.table_th li,.table_th1, li.table_th2 li{
    float: left
}

.tub_num,.tub_num1,.tub_num2{
width: 780px;
    display: -webkit-flex;
  justify-content: center;
    align-items: center;
    background: #bee9ef;
    margin-right: 20px;
    text-align: center;

}
.table_in_time1{
  width: 170px;
   background:#f5f6fb;

}
.table_in_time1,.table_in_temp1{
    text-align: center;
    color: #000000;

}
.border_left{
    border-left: 1px solid rgba(174, 174, 174, 0.79);
}
.boder_bottom{
    border-bottom:1px solid rgba(174, 174, 174, 0.79);

}
.border_right{
    border-right:1px solid rgba(174, 174, 174, 0.79);
}


.table_in_temp1{
    width: 90px
}
/*第一组数据第一个炉管存放的数据到第十二炉管存放的数据*/
#tub_num1,#tub_num2,#tub_num3,#tub_num4,#tub_num5,#tub_num6,#tub_num7,#tub_num8,#tub_num9,#tub_num10,#tub_num11,#tub_num12{
    display: block;
height: 600px;

    margin-top: 21px
scrollbar-face-color: #FF0000 ;
    scrollbar-highlight-color: #00FF00;
    scrollbar-darkshadow-color: #ff0000;
    scrollbar-3dlight-color: #ff0000;
    scrollbar-arrow-color: #ff0000;
    scrollbar-track-color: #ffcccc;
    scrollbar-darkshadow-color: #ffffff;

}
/*固定*/
.fixed{
    position: fixed;
}
::-webkit-scrollbar:vertical {
    width: 0;
}

/*webkit内核有效*/
::-webkit-scrollbar{width:14px;}

::-webkit-scrollbar-track{background-color:#bee1eb;}
::-webkit-scrollbar-thumb{background-color:#00aff0;}
::-webkit-scrollbar-thumb:hover {background-color:#9c3}
::-webkit-scrollbar-thumb:active {background-color:#00aff0}
@-moz-document url-prefix(http://),url-prefix(https://) {
    /* 滚动条颜色 */
    scrollbar {
        -moz-appearance: none !important;
        background: rgb(0,255,0) !important;
    }
    /* 滚动条按钮颜色 */
    thumb,scrollbarbutton {
        -moz-appearance: none !important;
        background-color: rgb(0,0,255) !important;
    }
    /* 鼠标悬停时按钮颜色 */

    thumb:hover,scrollbarbutton:hover {
        -moz-appearance: none !important;
        background-color: rgb(255,0,0) !important;
    }
    /* 隐藏上下箭头 */
    scrollbarbutton {
        display: none !important;
    }
    /* 纵向滚动条宽度 */
    scrollbar[orient="vertical"] {
        min-width: 15px !important;
    }
}